* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
 display: flex;
 justify-content: center;
}

.App {
    width: 800 px;
    text-align: center;

}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid red;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
button{
    margin: 5px;
    padding: 5px;
}